SAMBA_PROVISION_TYPE=SERVER|2ndDC|MEMBER
REMOTE_DC=10.10.100.181
SAMBA_AD_REALM=my.domain
SAMBA_DOMAIN=
SAMBA_AD_ADMIN_PASSWD=replacePassword
SAMBA_DNS_BACKEND=SAMBA_INTERNAL
SAMBA_DNS_FORWARDER=192.168.1.254
SAMBA_NOCOMPLEXPWD=true
SAMBA_HOSTNAME=dc
SAMBA_HOSTIP=
SAMBA_DEBUG=1
GATEWAY=
SUBNET=
